.git
.gitignore

node_modules
frontend/node_modules

.venv
backend/.venv

__pycache__
*.pyc

dist
build
coverage
htmlcov

media

logs
*.log

.env.*

.vscode
.idea

frontend/out
frontend/dist

docker-data
postgres-data
redis-data
