@import "@/index.css";

.post-title {
  @apply p-12 text-neutral-900 dark:text-neutral-100 text-2xl text-center font-bold;
}

.post-overview {
  @apply mb-6 text-neutral-500;
}

.post-content {
  @apply pb-6 text-neutral-900 dark:text-neutral-300;
}

.post-content > table,
.post-content > ul,
.post-content > ol,
.post-content > p,
.post-content > blockquote {
  @apply mb-6 text-justify leading-8
    md:mb-10;
}
.post-content > table {
  @apply w-full border-collapse rounded-md text-base;
}
.post-content > table tr {
  @apply transition-all;
}
.post-content > table tr:not(:has(th)):hover {
  @apply bg-neutral-300 dark:bg-neutral-900 transition-all;
}
.post-content > table th {
  @apply p-2 /*bg-neutral-900 text-white*/　border-b-1 border-b-neutral-400 dark:border-b-neutral-500
    [&:first-child]:rounded-tl-md
    [&:last-child]:rounded-tr-md;
}
.post-content > table td {
  @apply px-2 py-5 border-b border-neutral-300 dark:border-neutral-700 box-content transition-all;
}
.post-content pre {
  @apply mb-10 rounded-md overflow-hidden;
}
.post-content pre > div {
  @apply !m-0;
}
.post-content > h1,
.post-content > h2,
.post-content > h3 {
  @apply mb-4
    md:mb-6;
}
.post-content > h1 {
  @apply mt-12 pb-2 font-bold text-2xl border-b-2 border-b-neutral-900
    md:mt-24 md:text-4xl;
}
.post-content > h2 {
  @apply mt-12 pb-2 font-bold text-2xl border-b border-b-neutral-700 dark:border-b-neutral-500
    md:text-3xl;
}
.post-content > h3 {
  @apply mt-12 text-xl
    md:text-2xl;
}
.post-content > *:first-child {
  @apply mt-0;
}
.post-content > p:has(+ table),
.post-content > p:has(+ ul),
.post-content > p:has(+ ol),
.post-content > p:has(+ pre) {
  @apply mb-2;
}
.post-content > p code,
.post-content li > p code {
  @apply px-1.5 py-0.5 border border-dashed border-neutral-900 dark:border-neutral-400 rounded
    text-sm leading-8 align-bottom;
}
.post-content > ul,
.post-content > ol {
  @apply ml-4;
}
.post-content > ul > li:not(:has(> input)) {
  @apply pl-6
    bg-[url('/images/icons/icon-arrow-right-circle-outline.svg')]
    bg-[length:1em_1em] bg-no-repeat bg-[left_0.5em];
}
.post-content > ol {
  @apply ml-10 list-[decimal-leading-zero];
}
.post-content input[type='checkbox'] {
  @apply w-4 h-4 bg-[url('/images/icons/icon-check-circle-outline.svg')]
    align-text-bottom
    appearance-none opacity-30 transition-all;
}
.post-content input[type='checkbox']:checked {
  @apply opacity-100 transition-all;
}
.post-content kbd {
  @apply px-1.5 py-0.25 border border-b-3 border-neutral-300 dark:border-neutral-400 rounded
    bg-neutral-100 shadow-white shadow-inner transition-all
    text-sm dark:text-neutral-500 leading-8 align-bottom;
}
.post-content del {
  @apply opacity-60;
}
.post-content a {
  @apply pl-5 py-0.5 border-b border-dashed border-neutral-900 dark:border-neutral-400
    bg-[url('/images/icons/icon-link-outline.svg')]
    bg-[length:1em_1em] bg-no-repeat bg-left
    align-bottom opacity-60 transition-all;
}
.post-content a:hover {
  @apply border-solid opacity-100 transition-all;
}
.post-content sup {
  @apply -top-2.5;
}
.post-content sup a {
  @apply mt-20 p-0 pt-20 border-none bg-none;
}
.post-content strong {
  @apply bg-[length:100%_0.4em] bg-no-repeat bg-bottom
    bg-gradient-to-r from-[#02E1BA4C] via-[#26C9F24C] to-[#D911F24C]
    transition-all;
}
.post-content strong:hover {
  @apply bg-[length:100%_0.5em]
    bg-gradient-to-r from-[#02E1BA76] via-[#26C9F276] to-[#D911F276]
    transition-all;
}
.post-content > blockquote {
  @apply p-4 rounded-md bg-neutral-100;
}
.post-content hr {
  @apply my-12 border-neutral-900;
}
